sw_mazegame/.vs/sw_mazegame/FileContentIndex/c8212e1b-619d-4b1e-aa37-63c98b7329ef.vsidx
sw_mazegame/.vs/sw_mazegame/FileContentIndex/e0b4364f-bb91-420a-ad18-d735bc9b6dda.vsidx
sw_mazegame/.vs/sw_mazegame/v17/Browse.VC.opendb
sw_mazegame/.vs/sw_mazegame/FileContentIndex/
